.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.Page {
  background-color: #212121; /* palette.background */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey; /* palette.neutralLight */
  gap: 20px;
  width: 100%;
  flex: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

.Controls {
  background-color: #121212; /* palette.neutralDarker */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}
