.slider {
  -webkit-appearance: none;
  height: 1px;
  background: var(--morris-palette-neutral);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--morris-palette-primary);
  cursor: pointer;

  -webkit-transition: 0.2s;
  transition: width 0.2s;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--morris-palette-primary);
  cursor: pointer;
}

.sliderContainer {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--morris-font-size-medium);
}