.icon-button-root {
  border-radius: 4px;
  background: transparent;
  min-width: 30px;
  min-height: 30px;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  color: currentColor;
  font-size: medium;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  transition: box-shadow 0.2s ease;
  border: 1px solid #161616;
}

.icon-button-root:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-elevation-medium);
}

.icon-button-root:active {
  transform: scale(0.9);
  box-shadow: none;
}
